#label {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 0, 0, 0.85);
  color: white;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 10px;
  z-index: 1;
}

#resetBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  font-size: 16px;
  z-index: 2;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 0;
}
/* #ARButton, .xr-button {
  position: fixed !important;
  bottom: 20px;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(90deg, #f6b131, #ff9900) !important;
  color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  margin: auto;
}

#ARButton:hover, .xr-button:hover {
  background: linear-gradient(90deg, #ffcc00, #ff0000);
  cursor: pointer;
} */


