/* .H-cta {
  text-align: left;
  color: white;
  margin-top: 30px;
} */
.login-button {
  background: #f6b131;
  border: 1px solid black;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 4px;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
  margin-bottom: 0px;
  margin-right: 10px;
}
.login-button:hover {
  background-color: brown;
  cursor: pointer;
  color: #f5f5f5;
  transform: scale(1.05);
}


@media (max-width: 768px) {
    .login-button{
        margin-top: 1px;
        /* padding-top: 0px; */
        padding-top: 3px;
        padding-bottom:3px;
    }
}